*{
   --cor-texto: #373737;
   --cor-principal: #E1CFA3;
   --cor-texto-sobre-fundo: #ffff;
   --cor-titulo: #2b2b2b;
   --cor-principal-clara: #f8f0de;
}
/* Paleta de cores*/
/* :root{
--marrom_claro: #E1CFA3;
--amarelo_claro:  #F8F0DE ;
--marrom: #4a4435;
--cinza: #909090;
--cinza_escuro: #2b2b2b;
--
} */
body{
    background-color: #fff;
     font-family: Arial, Helvetica, sans-serif;
}
.header{
   display: flex;
   justify-content: space-between;
   padding: 2em;
}
ul{
    height:100% ;
}
.header-nav{
    display: flex;
    gap: 2.5em;
    align-items: end;
}

.nav-item{
    color: var(--cor-texto) ;
}

/* conteudo principal*/
.titulo{
color:var(--cor-texto-sobre-fundo);
background-color: var(--cor-principal);
font-size: 4em;
text-align: center;
padding: .7em;
font-weight: 100;
}
.marca{
    width: 22em;

}
.foto-principal{
    width: 100%;
}

.subtitulo{
    color: var(--cor-titulo);
    font-size: 3em;
    text-align: center;
    margin:2em 0 1em;
}

.paragrafo{
    font-size: 1.5em;
    margin: 0 auto 2em;
    color: var(--cor-texto);
    text-align: center;
    line-height: 1.5em;

}

.sec-fundo{
    background-color: var(--cor-principal-clara);
    padding: 3em 0;
}

.img1{
    margin: 0 0.5em 1em;
}
.img2{
    position: relative;
    right: 1em;
    margin: 0 0 1em;
}
.img3{
    position: relative;
    right: 2em ;
    margin: 0 0 1em;
}

imags-projetos{
    width: 4px;
}